<mat-accordion>
  <mat-expansion-panel *ngFor="let group of drinks">
    <mat-expansion-panel-header>
      <span mat-line>{{group.category[lang]}}</span>
    </mat-expansion-panel-header>


    <!-- <mat-list > -->
      <!-- <mat-list-item *ngFor="let drink of group.list"  > -->
         <!-- <span class="drink-name">{{ drink.name  }}</span>
         <span class="drink-price">{{ drink.price }}</span> -->
         <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
         <!-- <table style="width:100%"> -->
         
          <!-- <tr> -->
            <!-- <td> -->
                <!-- <h3 mat-line>{{drink.name}}</h3> -->
                <!-- <p mat-line> {{drink.description }} </p> -->
            <!-- </td> -->
            <!-- <td>{{drink.price | currency}}</td> -->
          <!-- </tr> -->
  
        <!-- </table> -->

         <!-- <div class="flex-container">
          <div>
            <h4 >{{drink.name}}</h4>
            <p > {{drink.description }} </p>

          </div>
          <div>
            <h4 >{{drink.price}}</h4>

          </div> -->
        <!-- </div> -->



        <table mat-table [dataSource]="group.list" class="my-table">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
   
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef></th>

              <td mat-cell *matCellDef="let element"> 
                  <h4 >{{element.name[lang]}}</h4>
                  <p > {{element.description[lang] }} </p>
                <!-- {{element.name}}  -->
              </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container [matColumnDef]="quantity" *ngFor="let quantity of group.columns.slice(1); index as i" >
              <th mat-header-cell *matHeaderCellDef class="item-price">{{quantity}} </th>

              <td mat-cell *matCellDef="let element" class="item-price"> 
                {{element.price[i] | currencyHuf}}
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="group.columns" ></tr>

            <tr mat-row *matRowDef="let row; columns: group.columns;"></tr>
          </table>

      <!-- </mat-list-item> -->
    <!-- </mat-list> -->


    <!-- {{panel.content}} -->
  </mat-expansion-panel>



</mat-accordion>
