
<mat-drawer-container 
  class="sidenav-container"
  [hasBackdrop]="false"
>
  <mat-drawer
  #drawer
  [opened]="false"
  class="sidenav"
  (openedChange)="this.drawerChanged($event)"
>
  

  <mat-nav-list *ngFor="let t of textNavigation">
      <a mat-list-item  [routerLink]="t[0]" href="#">{{t[1]}}</a>
  </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar  class="toolbar my-toolbar" color="primary"> 
    

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Buteko</span> 
        |
      <mat-nav-list *ngFor="let t of textNavigation">
        <a mat-list-item [routerLink]="t[0]" href="#">{{t[1]}}</a>
      </mat-nav-list>

      <btk-language-selector class="language"></btk-language-selector>


    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <btk-dashboard></btk-dashboard> -->
    


    <img src="assets/icons/x-flag-ptbr.svg" alt="flag">
    <!-- <img style="z-index:20"  src="assets/icons/x-flag-ptbr.svg" alt="flag"> -->
    <!-- <img src="assets/icons/x-flag-ptbr.svg" alt="flag">
    <img src="assets/icons/x-flag-ptbr.svg" alt="flag"> -->
    <div class="my-content-frame-out">
      <div class="my-content-frame">
        <router-outlet></router-outlet>
      </div>
    </div>

    
    <div 
      #backDrop 
      class="sidenav-overlay" 
      (click)="drawer.close()"
      [ngClass]="{'my-fadeOut': !isDrawerOpen }"    
    ></div>

  </mat-drawer-content>

</mat-drawer-container>

