.sidenav-container 
  height: 100%;


.sidenav 
  width: 200px;



.mat-toolbar 
  position: sticky;
  top: 0;
  z-index: 100;
  height: 3.5rem;




.language 
  position: absolute;
  right: 0px;
  width: 50px;
  height: 100%;

 




.my-toolbar 
  background-color: rgba(0,0,0,0.3)
  position: fixed;
  top: 0px;
  z-index: 100;


// .sidenav-overlay
  // position: fixed;
  // left: 0px;
  // top: 0px;
  // width: 100vw;
  // height: 100%;
  // background-color: rgba(0,0,0,0.1)


.mat-drawer-shown
    visibility: hidden !important;

.mat-drawer-backdrop
    visibility: hidden !important;
